@model BostonScientificAVS.Models.WorkOrderInfo
<div class="main-container row pt-15">

<div class="navigation-header-result">
        <div class="dropdown">
  <button class="custom-config-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-image-size" src="~/assets/images/user_avatar.png"/>
            <span class="user-name-text">Hello, @User.Identity.Name | @User.Claims.FirstOrDefault(c => c.Type == "EmpID")?.Value</span>
  </button>
  <div class="dropdown-menu custom-config-dropdown" aria-labelledby="dropdownMenuButton">

            @if (User.IsInRole("Admin"))
            {
                 <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Users">Manage Users</a>
                <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Items" >Manage Database</a>
            }
                         <a class="dropdown-item text-color-blue"  asp-area="" asp-controller="Login" asp-action="Logout" >Logout</a> 
  </div>
</div>

<div class="navigation-back">
    <div class="session-time">
      <h6 class="session-expires-text text-color-blue">Your Session Expires On</h6>
      <h6 id="timer" class="session-expire-time text-color-blue"></h6>
      </div>
    <div>
                <a class="button" href="javascript:history.go(-1)" @*asp-area="" asp-controller="Home" asp-action="WorkOrderScan"*@><img class="back-button-img" src="/assets/images/back-arrow.png" /><span class="back-text">Back</span></a>
    </div>
</div>

</div>


<@*div class="heading">
    <div >
        <div>
           <img src="/assets/images/abeTechHeading.png" class="image-size" />
           <span class="heading-text"> | Packaging</span>
        </div>
    </div>
    <div >
        <div>
            <a class="button" asp-area="" asp-controller="Home" asp-action="WorkOrderScan"><img class="back-button-img" src="/assets/images/back-arrow.png" /><span class="back-text">Back</span></a>
        </div>
    </div>
</div>*@
             @*   <form id="productlabelform" asp-controller="Home" asp-action="SaveProductLabel" method="post" class="temp-button">*@
                    <div class="work-order-scan-submit temp-flex">
                        <div>
                            <input id="productLabelInput" class="scan-input" placeholder="Product label" name="input" />
                        </div>
                        <div>
                            <input id="productLabelSpec" class="scan-input" placeholder="Label Spec" name="input1" />
                        </div>
                        <div>
                            <button type="submit" class="login-button" id="submitBtn">
                                <span class="login-text">Scan ID/Submit</span>
                            </button>
                        </div>
                    </div>
             @*   </form>*@
<div class="mid-content">
    <div class="left-content">
        <div class="count-data">
            <div class="p-10">
                <h6 class="processing-lot-text">Processing Lot No. : <span id="work-order-lot-no" class="processing-lot-no">@Model.workOrderLotNo</span></h6>
            </div>
            <div class="data-stat">
                <div class="data-card p-10">
                    <div class="data-heading">
                        <h6 class="data-heading-text">Total</h6>

                    </div>
                    <hr style="color: #003C71;"/>
                    <div class="data-val">
                        <h6 id="total-val" class="data-val-text">@Model.totalCount</h6>
                    </div>
                </div>
                <div class="data-card p-10">
                      <div class="data-heading">
                        <div>
                             <h6 class="data-heading-text">Passed</h6>
                        </div>
                        <div>
                             <img src="/assets/images/passed-icon.png" class="pass-icon"/>
                        </div>
                    </div>
                    <hr style="color: #003C71;"/>
                    <div class="data-val">
                        <h6 id="total-passed-val" class="data-val-text">@Model.passedCount</h6>
                    </div>
                </div>
                <div class="data-card p-10">
                      <div class="data-heading">
                          <div>
                              <h6 class="data-heading-text">Failed</h6>
                          </div>
                          <div>
                             <img src="/assets/images/failed-icon.png" class="pass-icon"/>
                        </div>
                    </div>
                    <hr style="color: #003C71;"/>
                    <div class="data-val">
                        <h6 id="total-failed-val" class="data-val-text">@Model.failedCount</h6>
                    </div>
                </div>
                <div class="data-card p-10">
                      <div class="data-heading">
                          <div>
                              <h6 class="data-heading-text">Rescanned</h6>
                          </div>
                           <div>
                             <img src="/assets/images/approved-icon.png" class="pass-icon"/>
                        </div>
                    </div>
                    <hr style="color: #003C71;"/>
                    <div class="data-val">
                        <h6 id="total-rescanned-val" class="data-val-text">@Model.scannedCount</h6>
                    </div>
                </div>

            </div>
        </div>
    
        <div id="scanning-icon-div" class="scanning-icon">
            <div id="before-scan-image" class="scanning-gif ">
                <img class="barcode-img-size" src="/assets/images/scanning-temp-image.png" />
            </div>
            <div id="after-scan-fail-image" class="scanning-gif temp-display">
                <img class="barcode-img-size" src="/assets/images/fail-image.png" />
            </div>
            <div id="before-scan-text" class="scanning-instruction temp-button">
                <div class="scanning-text-container">
                 <h6 class="scanning-text-1">place the product label </h6>
                <h6 class="scanning-text-1">under the scanner</h6>
                </div>
            </div>
             <div id="after-scan-fail-text" style="display:none;" class="scanning-failed-instruction temp-supervisor-call-button">
                <div class="scanning-text-container">
                 <h6 class="scanning-text-1">supervisor required to </h6>
                <h6 class="scanning-text-1"> approve mismatch </h6>
                </div>
            </div>
        </div>

          <div id="scanned-data" class="supervisor-container temp-display">
            <div class="data-comparison-pass">
                <div>
                    <h6 class="mismatch-text">Scanned Details</h6>
                </div>
                <div class="data-table-pass">
                    <div class="product-data" >
                        <div>
                            <h6 class="comparison-lable-text">DB GTIN</h6>
                        </div>
                        <div>
                           @* <h6 class="comparison-lable-text" >@Model.Product_Label_GTIN</h6>*@
                            <h6 id="pass-db-gtin" class="comparison-lable-text" >xxxxxxxxxxx</h6>                             
                        </div>                                
                        <div>
                            <h6 class="comparison-lable-text">Work Order Lot No</h6>
                        </div>
                        <div>
                                @*<h6 class="comparison-lable-text">@Model.Product_Label_Spec</h6>*@
                                 <h6 id="pass-wo-lot-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">DB Label Spec</h6>
                        </div>
                        <div>
                              @*  <h6 class="comparison-lable-text">@Model.WO_Catalog_Num </h6>*@
                                   <h6 id="pass-db-label-spec" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">Calculated Use By</h6>
                        </div>
                        <div>
                             @*   <h6 class="comparison-lable-text">@Model.WO_Lot_Num</h6>*@
                                <h6 id="pass-calc-use-by" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">DB Catalog Num</h6>
                        </div>
                        <div>
                             @*   <h6 class="comparison-lable-text">@Model.WO_Lot_Num</h6>*@
                                <h6 id="pass-db-catalog-num" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                   </div>
                   <div class="data-from-db">
                       <div>
                           <h6 class="comparison-lable-text" > Product Label GTIN </h6>
                     </div>
                     <div>
                         @*       <h6 class="comparison-lable-text">@Model.DB_GTIN</h6>*@
                            <h6 id="pass-product-gtin" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                       <div>
                           <h6 class="comparison-lable-text" > Product Lot Num </h6>
                     </div>
                     <div>
                                @*<h6 class="comparison-lable-text">@Model.DB_Label_Spec</h6>*@
                                   <h6 id="pass-product-lot-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                       <div>
                           <h6 class="comparison-lable-text" > Product Label Spec</h6>
                     </div>
                     <div>
                             @*   <h6 class="comparison-lable-text">@Model.DB_Catalog_Num </h6>*@
                                <h6 id="pass-product-label-spec" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                             </div>
                             <div>
                           <h6 class="comparison-lable-text" > Product Use By </h6>
                     </div>
                     <div>
                              @*  <h6 class="comparison-lable-text">@Model.Product_Lot_Num </h6>*@
                                 <h6 id="pass-product-use-by" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
   
                        <div>
                           <h6 class="comparison-lable-text" > Work Order Catalog Num</h6>
                     </div>
                     <div>
                              @*  <h6 class="comparison-lable-text">@Model.Product_Lot_Num </h6>*@
                                 <h6 id="pass-wo-catalog-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                   </div>
                </div>
            </div>
        </div>

        <div id="supervisor-intervention" class="supervisor-container temp-display">
            <div class="data-comparison">
                <div>
                    <h6 class="mismatch-text">Scanned Details</h6>
                </div>
                <div class="data-table-pass-supervisor">
                    <div class="product-data" style="width:200px">
                        <div>
                            <h6 class="comparison-lable-text">DB GTIN</h6>
                        </div>
                        <div>
                           @* <h6 class="comparison-lable-text" >@Model.Product_Label_GTIN</h6>*@
                            <h6 id="fail-db-gtin" class="comparison-lable-text" >xxxxxxxxxxx</h6>                             
                        </div>                                
                        <div>
                            <h6 class="comparison-lable-text">Work Order Lot No</h6>
                        </div>
                        <div>
                                @*<h6 class="comparison-lable-text">@Model.Product_Label_Spec</h6>*@
                                 <h6 id="fail-wo-lot-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">DB Label Spec</h6>
                        </div>
                        <div>
                              @*  <h6 class="comparison-lable-text">@Model.WO_Catalog_Num </h6>*@
                                   <h6 id="fail-db-label-spec" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">Calculated Use By</h6>
                        </div>
                        <div>
                             @*   <h6 class="comparison-lable-text">@Model.WO_Lot_Num</h6>*@
                                <h6 id="fail-calc-use-by" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                        <div>
                            <h6 class="comparison-lable-text">DB Catalog Num</h6>
                        </div>
                        <div>
                             @*   <h6 class="comparison-lable-text">@Model.WO_Lot_Num</h6>*@
                                <h6 id="fail-db-catalog-num" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                        </div>
                   </div>
                   <div class="data-from-db">
                       <div>
                           <h6 class="comparison-lable-text" > Product Label GTIN </h6>
                     </div>
                     <div>
                         @*       <h6 class="comparison-lable-text">@Model.DB_GTIN</h6>*@
                            <h6 id="fail-product-gtin" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                       <div>
                           <h6 class="comparison-lable-text" > Product Lot Num </h6>
                     </div>
                     <div>
                                @*<h6 class="comparison-lable-text">@Model.DB_Label_Spec</h6>*@
                                   <h6 id="fail-product-lot-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                       <div>
                           <h6 class="comparison-lable-text" > Product Label Spec</h6>
                     </div>
                     <div>
                             @*   <h6 class="comparison-lable-text">@Model.DB_Catalog_Num </h6>*@
                                <h6 id="fail-product-label-spec" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                             </div>
                             <div>
                           <h6 class="comparison-lable-text" > Product Use By </h6>
                     </div>
                     <div>
                              @*  <h6 class="comparison-lable-text">@Model.Product_Lot_Num </h6>*@
                                 <h6 id="fail-product-use-by" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
   
                        <div>
                           <h6 class="comparison-lable-text" > Work Order Catalog Num</h6>
                     </div>
                     <div>
                              @*  <h6 class="comparison-lable-text">@Model.Product_Lot_Num </h6>*@
                                 <h6 id="fail-wo-catalog-no" class="comparison-lable-text" >xxxxxxxxxxx</h6>
                     </div>
                   </div>
                </div>
            </div>
            <div class="navigation-container">
              <div >
                 <a id="rescanBtn" class="approve-button" onclick="reloadPage()"><span class="approve-text">Rescan</span></a>
            </div>
       <div>
        <a class="reject-button" asp-area="" asp-controller="Home" asp-action="WorkOrderScan"><span class="reject-text">New Work Order</span></a>
       </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="product-spec-container temp-fail-button">
            <div class="product-spec">
                <div id="before-scan-lot-no">
                    <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="during-scan-lot-no">
                    <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="after-scan-pass-lot-no">
                    <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size"/>
                </div>
                <div class="temp-display" id="after-scan-fail-lot-no">
                    <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />              
                    </div>
                <div>
                    <h6 class="product-spec-text">Lot Number</h6>
                </div>
            </div>
              <div class="product-spec">
                 <div id="before-scan-gtin">
                     <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="during-scan-gtin">
                    <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="after-scan-pass-gtin">
                    <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size"/>
                </div>
                    <div class="temp-display" id="after-scan-fail-gtin">
                    <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size"/>
                </div>
                <div>
                    <h6 class="product-spec-text">GTIN</h6>
                </div>
            </div>
              <div class="product-spec">
                   <div id="before-scan-cat-no">
                       <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size"/>
                </div>
                      <div class="temp-display" id="during-scan-cat-no">
                    <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="after-scan-pass-cat-no">
                    <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size"/>
                </div>
                    <div class="temp-display" id="after-scan-fail-cat-no">
                        <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                    </div>          
                <div>
                    <h6 class="product-spec-text">Catalogue Number</h6>
                </div>
            </div>
              <div class="product-spec">
                   <div id="before-scan-label-spec">
                    <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size"/>
                </div>
                      <div class="temp-display" id="during-scan-label-spec">
                    <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="after-scan-pass-label-spec">
                    <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size"/>
                </div>
                    <div class="temp-display" id="after-scan-fail-label-spec">
                        <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                    </div>
                    <div>
                    <h6 class="product-spec-text">Label Specification</h6>
                </div>
            </div>
              <div class="product-spec">
                 <div id="before-scan-use-date">
                    <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                </div>
                 <div class="temp-display" id="during-scan-use-date">
                    <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size"/>
                </div>
                 <div class="temp-display" id="after-scan-pass-use-date">
                    <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size"/>
                </div>
                    <div class="temp-display" id="after-scan-fail-use-date">
                        <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                    </div>
                    <div>
                     <h6 class="product-spec-text">Use Date</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="loading-and-nav">
<div id="left-part-before-scan" class="left-part ">
    <h6 class="scanning-loading-text">
        Status Indicator
    </h6>
</div>
<div id="left-part-during-scan" class="left-part temp-display">
    <h6 class="scanning-loading-text">
        Scanning...
    </h6>
</div>
<div id="left-part-after-scan-pass" class="left-part-pass temp-display">
    <h6 class="pass-text">
        Data Verified
    </h6>
</div>
<div id="left-part-after-scan-fail" class="left-part-fail temp-display">
    <h6 class="pass-text">
        Data Mismatch
    </h6>
</div>
<div class="right-part">
    <div id="next-scan-button" class="right-part-container temp-reset-button">
        <div class="next-button-align">
    <span class="scanning-next-text">
      Send To Boxing / Next Scan
    </span>
    <img class="next-img" src="/assets/images/next-button.png"/>
    </div>
    </div>
  
</div>
</div>

</div>

<style>

    .next-button-align{
        padding-left: 27px;
        padding-top: 8px;
    }

      .approve-button{
        display: block;
        width: 206px;
        height: 67px;
        background: #FFB246;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .reject-button{
        display: block;
        width: 206px;
        height: 67px;
        background: #FF0000;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin:auto;
        text-decoration:none;
    }

    .next-img{
        height: 24px;
        width: 24px;
        vertical-align: -5px;
    }

    .comparison-lable-text{
        font-size:16px;
        font-weight:400;
        color:black;
    }

    .data-table{
        display:flex;
        justify-content: space-around;
    }

    .data-table-pass{
        display: flex;
        padding-left: 42px;
        gap: 250px;
    }

    .data-table-pass-supervisor{
        display: flex;
        padding-left: 42px;
        gap: 110px;
    }

    .mismatch-text{
        color:#003C71;
        font-size:20px;
        font-weight:700;
        padding: 7px 0px 5px 38px;
    }

    .supervisor-container{
        width:774px;
        display:flex;
        justify-content:center;
        padding-top:14px;
        gap: 20px;
    }

    .data-comparison{
        width:542px;
        height:319px;
        background-color:#EAF5FF;
        border-radius:10px;
    }

     .data-comparison-pass{
        height:319px;
        background-color:#EAF5FF;
        border-radius:10px;
    }

    .navigation-container{
        width:211px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .temp-display{
        display:none;
    }

    .pt-15{
        padding-top:15px;
    }


    .main-container{
        height:100%;
    }

    .image-div{
        position:relative;
        float:right;
    }

    .heading {
        display: flex;
        gap: 307px;
        justify-content: center;
    }

    .image-size {
        width: 560px;
        height: 52px;
    }

    .heading-text {
        font-size: 27px;
        vertical-align: -12px;
    }


   .p-17 {
       padding:17px;
   }

   .mid-content{
       display:flex;
       justify-content:center;
   }

   .left-content{
       display:flex;
       flex-direction: column;
       width: 772px;
       color: red;
   }

   .right-content {
       width: 402px;
       color: blue;
       padding-left:10px;
   }

   .count-data {
      height: 201px;
      background-color: #003C71;
      border-radius: 10px;
   }

   .scanning-icon {
      height: 322px;
   }

   .processing-lot-text{
       font-size: 24px;
       font-weight: 300;
       color: white;
   }

   .processing-lot-no{
       font-weight: 700;
   }

   .p-10 {
       padding: 10px;
   }

   .data-stat{
      height: 135px;
      display: flex;
      gap: 5px;
      justify-content: center;
   }

   .data-card{
        background-color: white;
        width: 24%;
        height: 135px;
        border-radius:10px;
      }
   
    .data-heading{
        height:21px;
        display:flex;
        justify-content:space-between;
    }

    .data-val{
        height:80px;
    }

    .data-heading-text{
        color: #003C71;
        font-size: 21px;
        font-weight:700;
    }

    .data-val-text{
         font-size: 60px;
         font-weight: 600;
         color: #003C71;
         text-align: end;
    }

    .pass-icon{
        width:21px;
        height:21px;
    }

    .barcode-img-size{
        height: 100%;
        width: 100%;
        vertical-align: -17px;
        object-fit: contain;
    }

    .scanning-icon{
        display:flex;
        justify-content: space-between;
        padding-top:10px;
    }

    .scanning-instruction{
        width:363px;
        background-color:#C5C5C5;
        display: flex;
        align-items: center;
        border-radius:10px;
    }

    .scanning-failed-instruction{
        width:363px;
        background-color:#003C71;
        display: flex;
        align-items: center;
        border-radius:10px;
    }

    .scanning-text-1{
        font-size:28px;
        font-weight:700;
        color:#868686;
        text-align:center;
    }

    .scanning-text-container{
        margin:auto;
    }

    .product-spec{
        display: flex;
        gap: 15px;
        padding-left: 10px;
    }

    .scanning-stage-img-size{
        height:50px;
        width:50px;
    }

    .product-spec-container{
        height: 533px;
        background-color: #EAF5FF;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 20px;
        border-radius: 10px;
}

    .product-spec-text{
        font-size: 30px;
        font-weight: 600;
        color: black;
        padding-top:5px;
    }

    .loading-and-nav{
        display:flex;
        padding-top:10px;
        justify-content:center; }

    .left-part{
        border:1px solid;
        border-color:#003C71;
        width:772px;
        height:54px;
        border-radius:10px;
    }

    .right-part{
        width: 402px;
        padding-left:10px;
    }

    .right-part-container{
         background-color:#C5C5C5;
         height:54px;
         border-radius:10px;
    }

    .scanning-loading-text{
       font-size:24px;
       font-weight:700;
       color:#003C71;
       padding-left: 15px;
       padding-top:10px;
    }

    .scanning-next-text{
        font-size: 24px;
        font-weight: 500;
        color: white;
        padding-top: 10px;
        text-align: center;
        padding-right: 15px;
    }

     .pr-70{
        padding-right:70px;
    }

    .scanning-icon{
        margin-top: 10px;
        padding: 14px;
        background-color: #EAEAEA;
        border-radius:10px;
    }

    .left-part-pass{
        width: 772px;
        height: 54px;
        border-radius: 10px;
        background-color: #00E13F;
    }

     .left-part-fail{
        width: 772px;
        height: 54px;
        border-radius: 10px;
        background-color: #FF0000;
    }

    .pass-text{
        font-size: 24px;
        font-weight: 700;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
    }

    .approve-text{
        font-size:24px;
        font-weight:600;
        color:black;
    }

    .reject-text{
        font-size:24px;
        font-weight:600;
        color:white;
    }

    .navigation-header-result{
        padding: 20px;
        display: flex;
        justify-content: center;
        gap: 634px;
        padding-left: 0px;
    }

    .temp-flex{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }

</style>

<script type="text/javascript">
  
    //$(document).ready(function (){
    //    ("#productlabelform").submit(function(e) {
    //        e.preventDefault();
    //        beforeToDuringScan()
    //    });
    //    });



let inPassScenario = false;
let inFailScenario = false;
let responseData = null;
    //document.getElementsByClassName('temp-button')[0]
    //    .addEventListener('click', function (event) {
    //        beforeToDuringScan();
    //          setTimeout(duringToScanPass, 3000);

    //    });

     document.getElementsByClassName('temp-supervisor-call-button')[0]
        .addEventListener('click', function (event) {
            ScanFailToSupervisor();
            setScannedFailData(responseData);
        });


     document.getElementsByClassName('temp-reset-button')[0]
        .addEventListener('click', function (event) {
              //if (inPassScenario) {
              //    inPassScenario = false;
              //    resetPassScenario();
              //}
            var targetUrl = "https://localhost:7157/Home/WorkOrderScan";
            window.location.href = targetUrl;

        });

       document.getElementsByClassName('temp-fail-button')[0]
        .addEventListener('click', function (event) {
            // do something
              console.log("fail button clicked");
              inFailScenario = true;
              if (inFailScenario) {
                  inFailScenario = false;
                   beforeToDuringScan();
                   setTimeout(duringToScanFail, 3000);
                   setTimeout(ScanFailToSupervisor, 5000);
              }
       

        });

      function beforeToDuringScan() {
            document.getElementById("before-scan-lot-no").style.display = "none";
            document.getElementById("during-scan-lot-no").style.display = "block";

            document.getElementById("before-scan-gtin").style.display = "none";
            document.getElementById("during-scan-gtin").style.display = "block";

            document.getElementById("before-scan-cat-no").style.display = "none";
            document.getElementById("during-scan-cat-no").style.display = "block";

            document.getElementById("before-scan-label-spec").style.display = "none";
            document.getElementById("during-scan-label-spec").style.display = "block";

            document.getElementById("before-scan-use-date").style.display = "none";
            document.getElementById("during-scan-use-date").style.display = "block";

            document.getElementById("left-part-before-scan").style.display = "none";
            document.getElementById("left-part-during-scan").style.display = "block";
      }

      function duringToScanPass(){
          inPassScenario = true;
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-pass-lot-no").style.display = "block";

            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-pass-gtin").style.display = "block";

            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display = "block";

            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-pass-label-spec").style.display = "block";

            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-pass-use-date").style.display = "block";

            document.getElementById("left-part-during-scan").style.display = "none";
            document.getElementById("left-part-after-scan-pass").style.display = "block";
            
            document.getElementById("next-scan-button").style.backgroundColor = "#003C71";

          document.getElementById("scanning-icon-div").style.display = "none";
          document.getElementById("scanned-data").style.display = "block";
      }

      function duringToScanFail(response){
          document.getElementById("scanning-icon-div").style.backgroundColor = "#FFB5B5";
     
          document.getElementById("before-scan-text").style.display = "none";
          document.getElementById("after-scan-fail-text").style.display = "flex";

          document.getElementById("before-scan-image").style.display = "none";
          document.getElementById("after-scan-fail-image").style.display = "block";

          document.getElementById("during-scan-lot-no").style.display = "none";
          if (response.mismatches.lotNoMismatch) {
          document.getElementById("after-scan-fail-lot-no").style.display = "block";
          } else {
          document.getElementById("after-scan-pass-lot-no").style.display = "block";
          }

          document.getElementById("during-scan-gtin").style.display = "none";
          if (response.mismatches.GTINMismatch) {
          document.getElementById("after-scan-fail-gtin").style.display = "block";
          } else {
          document.getElementById("after-scan-pass-gtin").style.display = "block";
          }
           

          document.getElementById("during-scan-cat-no").style.display = "none";
          if (response.mismatches.catalogNumMismatch) {
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
          } else {
            document.getElementById("after-scan-pass-cat-no").style.display = "block";
          }

          document.getElementById("during-scan-label-spec").style.display = "none";
          if (response.mismatches.labelSpecMismatch) {
          document.getElementById("after-scan-fail-label-spec").style.display = "block";
          } else {
          document.getElementById("after-scan-pass-label-spec").style.display = "block";
          }

          document.getElementById("during-scan-use-date").style.display = "none";
          if (response.mismatches.calculatedUseByMismatch) {
          document.getElementById("after-scan-fail-use-date").style.display = "block";
          } else {
          document.getElementById("after-scan-pass-use-date").style.display = "block";
          }

          document.getElementById("left-part-during-scan").style.display = "none";
          document.getElementById("left-part-after-scan-fail").style.display = "block";
      }

      function ScanFailToSupervisor() {
          document.getElementById("scanning-icon-div").style.display = "none";
           document.getElementById("supervisor-intervention").style.display = "flex";
      }

      function resetPassScenario() {
            document.getElementById("after-scan-pass-lot-no").style.display = "none";
            document.getElementById("before-scan-lot-no").style.display = "block";

            document.getElementById("after-scan-pass-gtin").style.display = "none";
            document.getElementById("before-scan-gtin").style.display = "block";

            document.getElementById("after-scan-pass-cat-no").style.display = "none";
            document.getElementById("before-scan-cat-no").style.display = "block";

            document.getElementById("after-scan-pass-label-spec").style.display = "none";
            document.getElementById("before-scan-label-spec").style.display = "block";

            document.getElementById("after-scan-pass-use-date").style.display = "none";
            document.getElementById("before-scan-use-date").style.display = "block";

            document.getElementById("left-part-after-scan-pass").style.display = "none";
            document.getElementById("left-part-before-scan").style.display = "block";
            
            document.getElementById("next-scan-button").style.backgroundColor = "#C5C5C5";
      }


        $(document).on("click", "#submitBtn", function () {
            var productLabel = document.getElementById("productLabelInput").value;
            var productLabelSpec = document.getElementById("productLabelSpec").value;

            var apiUrl = "https://localhost:7157/SaveProductLabel";
            beforeToDuringScan();
            $.ajax({
                url: apiUrl,
                method: "POST",
                data: { productLabel: productLabel, productLabelSpec: productLabelSpec },
                success: function (response) {
                        console.log(response);
                    responseData = response;
                    processResponse(response);
                },
                error: function (xhr, status, error) {
                    console.log("An error occurred while making the AJAX call:", error);
                }

                
            });
        });

         $(document).on("click", "#rescanBtn", function () {
            var productLabel = document.getElementById("productLabelInput").value;
            var productLabelSpec = document.getElementById("productLabelSpec").value;

            var apiUrl = "https://localhost:7157/SaveProductLabel";
            beforeToDuringScan();
            $.ajax({
                url: apiUrl,
                method: "POST",
                data: { productLabel: productLabel, productLabelSpec: productLabelSpec },
                success: function (response) {
                        console.log(response);
                    location.reload();
                    responseData = response;
                    processResponse(response);
                },
                error: function (xhr, status, error) {
                    console.log("An error occurred while making the AJAX call:", error);
                }

                
            });
        });


        function processResponse(response) {
            console.log("response hit");
            console.log(response.allMatch);
            if (response.allMatch == true) {
              //setTimeout(duringToScanPass, 3000);
               duringToScanPass();
            } else {
              //setTimeout(duringToScanFail, 3000);
                duringToScanFail(response);
            }
            setWorkOrderInfo(response);
              setScannedData(response);
        }

        function setScannedData(response) {
            console.log("set data called");
            document.getElementById("pass-db-gtin").innerHTML = response.lhsData.dbGTIN;
            document.getElementById("pass-wo-lot-no").innerHTML = response.lhsData.workOrderLotNo;
            document.getElementById("pass-db-label-spec").innerHTML = response.lhsData.dbLabelSpec;
            document.getElementById("pass-calc-use-by").innerHTML = response.lhsData.calculatedUseBy;
            document.getElementById("pass-db-catalog-num").innerHTML = response.lhsData.dbCatalogNo;

            document.getElementById("pass-product-gtin").innerHTML = response.rhsData.productLabelGTIN;
            document.getElementById("pass-product-lot-no").innerHTML = response.rhsData.productLotNo;
            document.getElementById("pass-product-label-spec").innerHTML = response.rhsData.productLabelSpec;
            document.getElementById("pass-product-use-by").innerHTML = response.rhsData.productUseBy;
            document.getElementById("pass-wo-catalog-no").innerHTML = response.rhsData.workOrderCatalogNo;

        }

           function setScannedFailData(response) {
            console.log("set data for fail called");
            document.getElementById("fail-db-gtin").innerHTML = response.lhsData.dbGTIN;
            document.getElementById("fail-wo-lot-no").innerHTML = response.lhsData.workOrderLotNo;
            document.getElementById("fail-db-label-spec").innerHTML = response.lhsData.dbLabelSpec;
            document.getElementById("fail-calc-use-by").innerHTML = response.lhsData.calculatedUseBy;
            document.getElementById("fail-db-catalog-num").innerHTML = response.lhsData.dbCatalogNo;

            document.getElementById("fail-product-gtin").innerHTML = response.rhsData.productLabelGTIN;
            document.getElementById("fail-product-lot-no").innerHTML = response.rhsData.productLotNo;
            document.getElementById("fail-product-label-spec").innerHTML = response.rhsData.productLabelSpec;
            document.getElementById("fail-product-use-by").innerHTML = response.rhsData.productUseBy;
            document.getElementById("fail-wo-catalog-no").innerHTML = response.rhsData.workOrderCatalogNo;

        }

        function setWorkOrderInfo(response) {
              document.getElementById("total-val").innerHTML = response.workOrderInfo.totalCount != null ? response.workOrderInfo.totalCount : 0;
              document.getElementById("total-passed-val").innerHTML = response.workOrderInfo.passedCount != null ? response.workOrderInfo.passedCount : 0;
              document.getElementById("total-failed-val").innerHTML = response.workOrderInfo.failedCount != null ? response.workOrderInfo.failedCount: 0;
              document.getElementById("total-rescanned-val").innerHTML = response.workOrderInfo.scannedCount != null ? response.workOrderInfo.scannedCount: 0;
            console.log(response.workOrderInfo.scannedCount);
              document.getElementById("work-order-lot-no").innerHTML = response.lhsData.workOrderLotNo;
        }

      //code for session counter
          function startTimer(duration) {
    var timerDisplay = document.getElementById("timer");

    var timer = duration;
    var hours, minutes, seconds;

    var intervalId = setInterval(function () {
        hours = parseInt(timer / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        timerDisplay.textContent = hours + ":" + minutes + ":" + seconds;

        if (--timer < 0) {
            clearInterval(intervalId);
            // Perform any action you need when the timer reaches 00:00:00
            window.location.href = "/Login/Logout";
            //alert("Timer has expired!");
        }
    }, 1000);
}

// Local Storage is already set in homescreen so just obtain it here
var expirationTime = localStorage.getItem("expiration_time"); 


// Get the expiration time from localStorage
var currentTime = Math.floor(Date.now() / 1000);
var remainingTime = expirationTime - currentTime;
startTimer(remainingTime);







</script>