@model BostonScientificAVS.Models.WorkOrderInfo
<partial name="_Loader" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid div-container p-0" id="container">
        <nav class="navbar">
            <div class="dropdown">
                <button class="custom-config-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar-image-size" src="~/assets/images/user_avatar.png" />
                    <span class="user-name-text">Hello, @User.Identity.Name | @User.Claims.FirstOrDefault(c => c.Type == "EmpID")?.Value</span>
                    <span class="pack">Packaging</span>
                </button>
                <div class="dropdown-menu custom-config-dropdown" aria-labelledby="dropdownMenuButton">

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Users">Manage Users</a>
                        <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Items">Manage Database</a>
                        <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="TransactionTable">Transaction</a>
                        <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Admin" asp-action="Settings">Settings</a>
                    }
                    <a class="dropdown-item text-color-blue" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                </div>       
            </div>

            <div class="navigation-back">
                <div class="session-time">
                    <h6 class="session-expires-text text-color-blue">Your Session Expires On</h6>
                    <h6 id="timer" class="session-expire-time text-color-blue"></h6>
                </div>
                <div>
                    <a class="button" href="javascript:history.go(-1)"><img class="back-button-img" src="/assets/images/back-arrow.png" /><span class="back-text">Back</span></a>
                </div>
            </div>
        </nav>
      
          <div class="work-order-scan-submit">
            <div class="row inpt1">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="productLabelInput" class="scan-input" placeholder="Product label" name="input" autocomplete="off" />
                            <div id="productLabelInputError" class="text-danger"></div>
                        </div>
                        <div class="col-md-3">
                            <input id="productLabelSpec" class="scan-input" placeholder="Label Spec" name="input1" autocomplete="off" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="login-button btn btn-primary" id="submitBtn">
                                <span class="login-text">Scan ID/Submit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row p-4 w-100">
                <div class="col-md-8">
                   <div class="card styled-scrollbar" id="left-part">
                        <div class="card-header bg-card-header">Scanner Details</div>
                        <div class="card-body">
                            <table class="table-borderless  TFtable">
                                <tbody>
                                    <tr class="bg-row-color">
                                        <td>
                                            <div>
                                                <h6 class="comparison-lable-text bld">Work Order Catalog Number</h6>
                                            </div>
                                            <div>

                                            <h6 id="fail-db-catalog-num-error" class="comparison-lable-text">@Model.workOrderCatalogNo</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <h6 class="comparison-lable-text bld" id="w-catlognum-error">Database Catalog Number</h6>
                                            </div>
                                            <div>

                                                <h6 id="fail-wo-catalog-no-error" class="comparison-lable-text">@Model.DbCatalogNo</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div id="before-scan-cat-no">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-cat-no">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-cat-no">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-cat-no">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <h6 class="comparison-lable-text bld" id="workorder-mfg-date">WorkOrder Mfg.Date</h6>
                                            </div>
                                            <div>

                                                <h6 id="wo-mfg-date" class="comparison-lable-text">@Model.workOrderMfgDate</h6>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <div id="before-scan-wo-mfg-date">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-wo-mfg-date">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-wo-mfg-date">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-wo-mfg-date">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                <tr class="bg-row-color">
                                        <td>
                                        <div class="comparison-lable-text bld" id="shelf-life">Shelf-Life Days</div>
                                            <div>
                                                <h6 id="fail-shelf-life-by-error" class="comparison-lable-text">@Model.shelflife</h6>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <div id="before-shelflife">
                                            <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size">
                                            </div>
                                            <div class="temp-display" id="during-shelflife">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-shelflife">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-shelflife">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div><h6 class="comparison-lable-text bld" >Calculate Use By</h6></div>
                                        <div> <h6 id="fail-calc-use-by-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                             <div> <h6 class="comparison-lable-text bld" id="p-useby-error">Product Label Use by Date</h6></div>
                                        <div><h6 id="fail-product-use-by-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                        <div id="before-scan-use-date">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-use-date">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-use-date">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-use-date">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                <tr class="bg-row-color">
                                        <td>
                                            <div><h6 class="comparison-lable-text bld">Work Order Lot Number</h6></div>
                                        <div><h6 id="fail-lotno-error" class="comparison-lable-text">@Model.workOrderLotNo</h6></div>
                                        </td>
                                        <td>
                                            <div><h6 class="comparison-lable-text bld" id="p-lotnum-error">Carton Lot Number</h6></div>
                                            <div><h6 id="fail-product-lot-no-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                        <div id="before-scan-lot-no">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-lot-no">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-lot-no">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-lot-no">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div><h6 class="comparison-lable-text bld">Product Label GTIN</h6></div>
                                            <div><h6 id="fail-gtin-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                            <div><h6 class="comparison-lable-text bld" id="pa-gtin">Database GTIN</h6></div>
                                            <div><h6 id="fail-product-gtin-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                        <div id="before-scan-gtin">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-gtin">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-gtin">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-gtin">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="bg-row-color">
                                        <td>
                                            <div> <h6 class="comparison-lable-text bld">Product Label Specification</h6></div>
                                            <div><h6 id="fail-label-spec-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                            <div><h6 class="comparison-lable-text bld" id="p-labelspec-error">Database Label Specification</h6></div>
                                            <div> <h6 id="fail-product-label-spec-error" class="comparison-lable-text">xxxxxxxxxxx</h6></div>
                                        </td>
                                        <td>
                                        <div id="before-scan-label-spec">
                                                <img src="/assets/images/before-scanning.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="during-scan-label-spec">
                                                <img src="/assets/images/scanning-stage-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-pass-label-spec">
                                                <img src="/assets/images/after-scanned-pass-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                            <div class="temp-display" id="after-scan-fail-label-spec">
                                                <img src="/assets/images/after-scanned-fail-icon.png" class="scanning-stage-img-size" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                   


                    <div class="row" id="bottom">
                        <div class="col sm-card total">
                            <div>Total</div>
                            <div id="total-val" class="data-val-text">@Model.totalCount</div>
                        </div>
                        <div class="col sm-card passed">
                            <div>Passed</div>
                            <div id ="total-passed-val" class="data-val-text">@Model.passedCount</div>
                    </div>
                    <div class="col sm-card failed ">
                        <div>Failed</div>
                        <div id="total-failed-val" class="data-val-text">@Model.failedCount</div>
                    </div>
                    <div class="col sm-card scanned">
                        <div>Rescanned</div>
                        <div id="total-rescanned-val" class="data-val-text">@Model.scannedCount</div>
                    </div>

                </div>
            </div>



         <div class="col-md-4">
                <div class="status-wrapper p-2 bg-light-blue" id="before-side-scan">
                    <img src="/assets/images/scanning-temp-image.png" class="scan-img">
                    <div class="scan-container">
                        Scan Product Label
                    </div>
                    <div class="work-btn" id="before-workorder">New Work Order</div>
                </div>  
                
                    <div class="status-wrapper p-2 bg-light-blue" id="after-fail-side-scan">
                        <div class="status-container failed-status">
                            Failed
                        </div>
                        <div class="scan-container">
                            Scan Product Label
                        </div>
                    <div class="work-btn" id="after-fail-workorder">New Work Order</div>
                    <div class="work-btn-1" id="rescanBtn">Rescan</div>
                    </div>
                   
  
                   <div class="status-wrapper p-2 bg-light-blue" id="after-success-side-scan">
                     <div class="status-container passed-status">
                      Passed
                    </div>
                  <div class="scan-container">
                    Scan Product Label
                   </div>
                    <a asp-area="" asp-controller="Home" asp-action="WorkOrderScan" id="after-pass-workorder" class="work-btn">New Work Order</a>
                </div>
              
            </div>

        <div id="popupContainer">
            <div id="popupContent">
                <a class="close" href="javascript:void(0);" onclick="closePopup()">X</a>
                <img src="~/assets/images/Barcode image 2.png" alt="Barcode Icon" id="scan-image">
                <h5 class="supr-txt">Place Your Supervisor Badge</h5>
                <h5 id="under">under the scanner</h5>
                <input id="supervisorInput" placeholder="Super Visor Id" name="supervisorInput" autocomplete="off" />
                <br />
                <button id="greenButton" class="greenButton" onclick="configureContinueButton('supervisorInput')">Continue</button>
                <br />
                <span class="error-message text-danger"></span>
            </div>
        </div>
        <div id="toast" style="visibility: hidden;">
        User time limit reached, it will automatically logout.
    </div>
    </div>
  </div>
</body>


<style>

    .p-4 {
        padding: 0.5rem !important;
    }
    a.work-btn {
    text-decoration: none;
}
    .work-btn-1 {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #FFB246;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Additional styles (hover, focus, etc.) can be added for better user interaction */
}

.work-btn-1:hover {
        background-color: #FFB246; /* Change color on hover as desired */
}



    .bg-row-color{
        background-color:aliceblue !important;
    }

    body {
        background: #f9fafb;
        overflow: hidden;
    }

    .navbar {
        color: #fff;
        /* background: #05356f !important; */
        border-radius: 0;
        border: none;
        /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); */
    }

    .navbar {
        height: 80px;
    }

    .nav-text {
        color: #003C71;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        letter-spacing: -0.456px;
    }

    .navbar .navbar-brand {
        color: #efe5ff;
        padding-left: 0;
        font-size: 24px;
    }

        .navbar .navbar-brand i {
            font-size: 25px;
            margin-right: 5px;
        }

    .nav-logo {
        width: 61.6px;
        height: 32px;
        object-fit: contain;
    }

    .applied-logo {
        width: 32px;
        height: 30px;
        margin: 5px 0 0 0;
        object-fit: contain;
    }

    .nav-wrapper::before {
        padding-left: .5rem;
        padding-right: 0.25rem;
        color: #003C71;
        content: "|";
        font-weight: 400;
    }

    .btn-dark-blue {
        /* border-radius: 10px; */
        background: #003C71;
        color: #fff;
        padding: 10px 20px;
    }

    .btn-outline-dark-blue {
        border-color: #003C71;
        background: #fff;
        color: #003C71;
        padding: 1px 10px;
    }

    .fs-6 {
        font-size: 0.75rem;
    }


    .div-container {    
        margin-top: 20px;
        height: calc(100vh - 55px);
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #f9fafb;
    }

    .banner-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .wrap-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outer {
        /* position: relative;
      height: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 120px;
    }


    .inner-text {
        font-size: 30px;
        color: #000;
        text-align: center;
        font-family: Inter;
    }

    .blue-text {
        color: #003C71
    }

    .btn-wrap {
        position: absolute;
        bottom: 5%;
        right: 0;
        margin: 10px;
    }

    .btn-error {
        /* border-radius: 10px; */
        background: #FFDADA;
        color: #F00;
    }

    .styled-scrollbar {
        overflow: auto;
    }

        .styled-scrollbar::-webkit-scrollbar {
            width: 0.4rem;
        }

        .styled-scrollbar::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .styled-scrollbar::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    

    .bg-green {
        background: #BAFFCD !important;
    }

    .bg-red {
        background: #FFCACA !important;
    }

    .bg-card-header {
        background: #003C71;
        color: #fff;
    }

    .bg-card-body {
        background: #EAF5FF;
        padding: unset;
    }

    .bg-light-blue {
        background: #EAF5FF;
    }

    .status-wrapper {
        height: 73%;
    }

    .status-container {
        padding: 35px 20px;
        margin: 80px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* font-family: Inter; */
        font-size: 34px;
        font-weight: 600;
    }

    .passed-status {
        background: #BAFFCD;
        color: #00AD30;
    }

    .failed-status {
        background: #FFCACA;
        color: #FF0000;
    }

    .scan-container {
        display: flex;
        /* width: 387px; */
        padding: 26px 39px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #C5C5C5;
        color: #FFF;
        text-align: center;
        /* font-family: Inter; */
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .work-btn {
        display: flex;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #003C71;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        border-radius: 10px;
        margin: 10px 0;
        text-decoration:none;
    }

    .sm-card {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        margin: 0 2px;
        color: #003C71;
        font-weight: 600;
    }

    .total {
        border-radius: 10px;
        background: #EAF5FF;
    }

    .failed {
        border-radius: 10px;
        background: #FFCACA;
    }

    .passed {
        border-radius: 10px;
        background: #BAFFCD;
    }

    .scanned {
        border-radius: 10px;
        background: #FFE9CB;
    }

    .scan-img {
        width: 75%;
        height: 50%;
    }

   .pack {
    position: absolute;
    top: 32px;
    left: 52px;
    color: #003C71;
}

    #left-part{
        height:60%;
        overflow-y:auto;
    }
    #bottom{
        margin:10px 0;
    }


    #toast {
        max-width: 300px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }
 #p-dls   
     {
        margin-top: 7px;
        background-color: aliceblue;
        font-size: 20px;
        min-height: 56%;
        width: 100%;
        font-weight: bolder;
  }
  .right-scan{
      height:90%;
      background-color: aliceblue;
  }

.disabled {
    pointer-events: none; /* Prevent interaction */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

    #next-scan-button a {
        text-decoration: none;
        color:#FFF;
    }

    #next-scan-button1 a {
        text-decoration: none;
        color: #FFF;
    }
   .brdr-bottom{
        border-bottom: 1px solid black;
        margin-bottom: 6px;
   }
   .packaging{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
   }
    #error{
        height:45%;
        display:flex;
    }
     #error1{
        height:45%;
        display:flex;
    }

    .bottom {
        margin-top: 8px;
    }

    .full-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 75%;
    }


    #first-column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }


    .scn {
        height: 50%;
        display: flex;
        background-color: aliceblue;
        padding: 0.5rem;
    }

    #under {
        margin-left: 38px;
        text-align: center;
        font-size: 23px;
        font-weight: 400;
    }

    #scan-image {
        width: 313px;
        margin-left: 81px;
    }

    #supervisorInput {
        margin-left: 152px;
        width: 151px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 20px;
        text-align: center;
    }

    #supervisorInput1 {
        margin-left: 152px;
        width: 151px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 20px;
        text-align: center;
    }

    #spr-err-txt {
        margin-left: 96px
    }

    hr {
        color: black;
    }

    .next-button-align {
        /* padding-left: 27px; */
        /* padding-top: 8px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .approve-button {
        display: block;
        width: 150px;
        height: 60px;
        background: #FFB246;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 17px;
        /* margin: auto; */
        text-decoration: none;
    }

    .reject-button {
        display: block;
        width: 155px;
        height: 56px;
        background: #FF0000;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        color: white;
        font-weight: bold;
        line-height: 40px;
        margin: auto;
        text-decoration: none;
    }

    .next-img {
        height: 24px;
        width: 24px;
        vertical-align: -5px;
    }

    .comparison-lable-text {
        color: black;
    }

    .data-table {
        display: flex;
        justify-content: space-around;
    }

    .data-table-pass {
        display: flex;
        padding-left: 42px;
        gap: 250px;
    }

    .data-table-pass-supervisor {
        display: flex;
    }

    .mismatch-text {
        color: #003C71;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    supervisor-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 14px;
        gap: 20px;
    }

    .data-comparison {
        padding: 4px;
        min-width: 154%;
    }


    .data-comparison-pass {
        height: 319px;
        background-color: #EAF5FF;
        border-radius: 10px;
    }

    .navigation-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background:transparent !important;
    }

    .temp-display {
        display: none;
    }

    .pt-15 {
        padding-top: 15px;
    }


   /* .container-fluid {
        height: 100vh;
    }*/

    .image-div {
        position: relative;
        float: right;
    }

    .heading {
        display: flex;
        gap: 307px;
        justify-content: center;
    }

    .image-size {
        width: 560px;
        height: 52px;
    }

    .heading-text {
        font-size: 27px;
        vertical-align: -12px;
    }


    .p-17 {
        padding: 17px;
    }

    .mid-content {
        display: flex;
        justify-content: center;
    }

    #left-content {
        /* max-height: 116px; */
        display: flex;
        flex-direction: column;
        width: 746px;
        color: red;
    }


    .right-content {
        /* margin-top: 79px; */
        width: 476px;
        color: blue;
        padding-left: 10px;
    }

  .count-data{
    min-height: 40%;
    width: 100%;
    background-color: #003C71;
    border-radius: 10px;
 }


    .center {
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center1 {
    justify-content: center;
    align-items: center;
    }

    .processing-lot-text {
        padding-top: 5px;
        padding-left: 17px;
        font-size: 17px;
        font-weight: 300;
        color: white;
    }


    .processing-lot-no {
        font-weight: 700;
    }

    .p-10 {
        padding: 1px;
    }

    .data-stat {
        margin-left: 12px;
        width: 96%;
        display: flex;
        gap: 10px;
        justify-content: center;
        height: 86%;
    }


    .data-card {
        margin-left: 8px;
        width: 92%;
        height: 91%;
        border-radius: 5px;
    }


    .data-heading {
        height: 14px;
        display: flex;
        justify-content: space-between;
    }

    .data-val {
        height: 61%;
    }


    .data-heading-text {
        color: #003C71;
        font-size: 21px;
        font-weight: 700;
    }

   .data-val-text {
    font-size: 30px;
    font-weight: 600;
    color: #003C71;
    text-align: end;
   }

    .pass-icon {
        width: 21px;
        height: 21px;
    }

    .barcode-img-size {
        height: 90%;
        width: 100%;
        vertical-align: -17px;
        object-fit: contain;
        background-color: aliceblue;
    }

    .barcode-img-size1 {
        height: 52%;
        width: 35%;
        display: flex;
        margin-left: 100px;
    }


    .scanning-icon {
        max-height: 230px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }


    .scanning-instruction {
        width: 363px;
        /*background-color: #C5C5C5;*/
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .scanning-failed-instruction {
        width: 363px;
        background-color: #003C71;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .scanning-text-1 {
        color: white;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }
   .scanning-text-2 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 21px;
}

    .lbl {
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lbl1 {
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scanning-text-container {
        margin: auto;
    }

    .product-spec {
        display: flex;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .scanning-stage-img-size {
        height: 50px;
        width: 50px;
    }

    .product-spec-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding-bottom: 20px;
        border-radius: 10px;
        justify-content: center;
    }


    right-scan {
        height: 80%;
        background-color: aliceblue;
    }

    .product-spec-text {
        font-size: 25px;
        font-weight: 600;
        color: black;
        padding-top: 5px;
    }

    .loading-and-nav {
        position: relative;
        display: flex;
        padding-top: 10px;
        justify-content: center;
        bottom: 17px;
    }

    bar-scn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-part {
        border: 1px solid;
        border-radius: 7px;
        display: flex;
        align-items: center;
        height: 50px;
    }



    .right-part {
        /* padding-top: 26px; */
        width: 473px;
        padding-left: 10px;
        margin-top: 13px;
    }

    .right-part-container {
        background-color: #C5C5C5;
        height: 51px;
        border-radius: 10px;
    }

    .scanning-loading-text {
        font-size: 24px;
        font-weight: 700;
        color: #003C71;
        padding-left: 15px;
        padding-top: 4px;
    }

    .scan-input {
        height: 44px;
        border-radius: 10px;
        border: 1px solid;
        font-size: 20px;
        text-align: center;
    }

    #productLabelInput {
        border-radius: 7px;
        width: 90%;
        margin-left: 11px;
    }



    #productLabelSpec {
        border-radius: 7px;
        width: 100%;
        margin-left: -40px;
    }

    #submitBtn {
        border-radius: 8px;
        display: block;
        margin-left: -36px;
        height: 100%;
    }


    .inpt1 {
        margin-bottom: 7px
    }
    .scanning-next-text {
        padding-left: 16px;
        font-size: 24px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    .pr-70 {
        padding-right: 70px;
    }

    .scanning-icon {
        max-height: 190px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .left-part-pass {
        width: 772px;
        height: 54px;
        border-radius: 10px;
        background-color: #00E13F;
    }

    .left-part-fail {
    margin-top: 5px;
    height: 44px;
    border-radius: 9px;
    background-color: #FF0000;
}
    .pass-text {
        font-size: 24px;
        font-weight: 600;
        color: white;
        padding-left: 15px;
        padding-top: 7px;
    }

    .approve-text {
        font-size: 24px;
        font-weight: 600;
        color: black;
    }

    .reject-text {
        font-size: 15px;
        font-weight: 600;
        color: white;
    }

    .navigation-header-result {
        /* padding: 20px; */
        display: flex;
        justify-content: center;
        gap: 634px;
        padding-left: 0px;
        padding-top: 10px;
    }

    .temp-flex {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
        align-items: center;
    }

    /* Styles for the popup container */
    #popupContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #popupContainer1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }



    /* Styles for the popup content */
    #popupContent {
        width: 477px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    #popupContent1 {
        width: 477px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    /* Style for the green button inside the popup */
    #greenButton {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 180px;
        margin-top: 14px;
        margin-bottom: 8px;
    }

    #redButton {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 180px;
        margin-top: 14px;
        margin-bottom: 8px;
    }

    .supr-txt {
        display: flex;
        font-weight: 400;
        align-items: center;
        margin-left: 87px;
        font-size: 25px;
    }

    #total {
        background-color: #EAF5FF;
    }

    #pass {
        background-color: #BEF8A7;
    }

    #fail {
        background-color: #F09785;
    }

    #rescan {
        background-color: #F9EFC6;
    }

    .border {
        border: 2px solid #0AC5F3;
    }

    #before-scan-text {
        height: 195px !important;
        width: 100%;
    }


    #after-scan-fail-text{
        height:100px !important;
        /*margin-top:25px;*/
    }
    #after-scan-fail-text1{
        height:155px !important
    }

    #after-scan-fail-image{
        display: flex;
        min-height: 205px;
    }

    .close {
        float: right;
        text-decoration: none;
        color: #333;
        font-weight: 700;
    }

   .gap {
       margin-top:15px;
   }
   .bld{
       font-weight:bolder;
   }
        /* Define the background color for all the ODD background rows */
        .TFtable tr:nth-child(odd) {
            background: #EAF5FF !important;
        }

        /* Define the background color for all the EVEN background rows */
        .TFtable tr:nth-child(even) {
            background: #ffffff !important;
        }

    /* Table should have a fixed width */
    table {
        width: 100%;
    }

    .TFtable {
    overflow: auto;
}
      
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script type="text/javascript">

    //$(document).ready(function (){
    //    ("#productlabelform").submit(function(e) {
    //        e.preventDefault();
    //        beforeToDuringScan()
    //    });
    //    });


    let inPassScenario = false;
    let inFailScenario = false;
    let responseData = null;
    let superVisorInput = false;
    let rescanbutton = false;
    var toastVisible = true; // Initially set to true so the message is not displayed
    var timerHasStarted = false;
    var intervalId;
    var isPaused = false;
    var pauseDuration = 60;
  
    document.getElementById("after-fail-side-scan").style.display = "none";
    document.getElementById("after-success-side-scan").style.display = "none";
    document.getElementById("after-pass-workorder").style.display = "none";
    document.getElementById("after-fail-workorder").style.display = "none";
  
    
    //document.getElementsByClassName('temp-button')[0]
    //    .addEventListener('click', function (event) {
    //        beforeToDuringScan();
    //          setTimeout(duringToScanPass, 3000);

    //    });

    //document.getElementsByClassName('temp-supervisor-call-button')[0]
    //   .addEventListener('click', function (event) {
    //       showPopup();
    //   });
    //document.getElementsByClassName('temp-supervisor-call-button1')[0]
    //    .addEventListener('click', function (event) {
    //        showPopup1();
    //    });


    //document.getElementByClassName('greenButton')[0]
    //    .addEventListener('click',function(event)
    //    {
    //        ScanFailToSupervisor();
    //        setScannedFailData(responseData);
    //    })
    //$('#greenButton').click(function(){
    //    closePopup();
    //    ScanFailToSupervisor();
    //       setScannedFailData(responseData,responseData.mismatches);
    //});


    //document.getElementsByClassName('temp-reset-button')[0]
    //    .addEventListener('click', function (event) {
    //        //if (inPassScenario) {
    //        //    inPassScenario = false;
    //        //    resetPassScenario();
    //        //}
    //        var targetUrl = "/WorkOrderScan";
    //        window.location.href = targetUrl;

    //    });

    //document.getElementsByClassName('temp-fail-button')[0]
    // .addEventListener('click', function (event) {
    //     // do something
    //       console.log("fail button clicked");
    //       inFailScenario = true;
    //       if (inFailScenario) {
    //           inFailScenario = false;
    //            beforeToDuringScan();
    //            setTimeout(duringToScanFail, 3000);
    //            setTimeout(ScanFailToSupervisor, 5000);
    //       }


    // });

    function beforeToDuringScan() {
          document.getElementById("before-scan-cat-no").style.display = "none";
          document.getElementById("during-scan-cat-no").style.display = "block";
          document.getElementById("before-scan-wo-mfg-date").style.display ="none";
          document.getElementById("during-scan-wo-mfg-date").style.display ="block";
          document.getElementById("before-shelflife").style.display="none";
          document.getElementById("during-shelflife").style.display = "block";
          document.getElementById("before-scan-use-date").style.display = "none";
          document.getElementById("during-scan-use-date").style.display = "block";

          document.getElementById("before-scan-lot-no").style.display = "none";
          document.getElementById("during-scan-lot-no").style.display = "block";

          document.getElementById("before-scan-gtin").style.display = "none";
          document.getElementById("during-scan-gtin").style.display = "block";

          document.getElementById("before-scan-label-spec").style.display = "none";
          document.getElementById("during-scan-label-spec").style.display = "block";
          document.getElementById("popupContainer").style.display = "none";
    }

    function duringToScanPass() {
        inPassScenario = true;
        document.getElementById("fail-gtin-error").innerHTML = responseData.rhsData.productLabelGTIN;
        document.getElementById("fail-lotno-error").innerHTML = responseData.lhsData.workOrderLotNo;
        document.getElementById("fail-label-spec-error").innerHTML = responseData.rhsData.productLabelSpec;
        document.getElementById("fail-product-use-by-error").innerHTML = responseData.rhsData.productUseBy;
        document.getElementById("fail-db-catalog-num-error").innerHTML = responseData.rhsData.workOrderCatalogNo;
        document.getElementById("fail-product-gtin-error").innerHTML = responseData.lhsData.dbGTIN;
        document.getElementById("fail-product-lot-no-error").innerHTML = responseData.rhsData.productLotNo;
        document.getElementById("fail-product-label-spec-error").innerHTML = responseData.lhsData.dbLabelSpec;
        document.getElementById("fail-calc-use-by-error").innerHTML = responseData.lhsData.calculatedUseBy;
        document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.lhsData.dbCatalogNo;

        document.getElementById("during-scan-lot-no").style.display = "none";
        document.getElementById("after-scan-pass-lot-no").style.display = "block";

        document.getElementById("during-scan-gtin").style.display = "none";
        document.getElementById("after-scan-pass-gtin").style.display = "block";

        document.getElementById("during-scan-cat-no").style.display = "none";
        document.getElementById("after-scan-pass-cat-no").style.display = "block";

        document.getElementById("during-scan-label-spec").style.display = "none";
        document.getElementById("after-scan-pass-label-spec").style.display = "block";

        document.getElementById("during-scan-use-date").style.display = "none";
        document.getElementById("after-scan-pass-use-date").style.display = "block";
        
        document.getElementById("during-scan-wo-mfg-date").style.display="none";
        document.getElementById("after-scan-pass-wo-mfg-date").style.display ="block";
        document.getElementById("during-shelflife").style.display="none";
        document.getElementById("after-scan-pass-shelflife").style.display="block";

        document.getElementById("container").style.backgroundColor="#BAFFCD";
        document.getElementById("before-side-scan").style.display="none";
        document.getElementById("after-success-side-scan").style.display="block";
        document.getElementById("after-pass-workorder").style.display="block";
        document.getElementById("popupContainer").style.display = "none"
   
    }
    function duringToScanFail(response) {
        document.getElementById("popupContainer").style.display = "none";
        document.getElementById("scanning-icon-div").style.backgroundColor = "#FFB5B5";
       

        document.getElementById("before-scan-text").style.display = "none";
        document.getElementById("after-scan-fail-text").style.display = "flex";

        document.getElementById("before-scan-image").style.display = "none";
        document.getElementById("after-scan-fail-image").style.display = "block";

        document.getElementById("during-scan-gtin").style.display = "none";
        if (response.mismatches.gtinMismatch) {
            document.getElementById("after-scan-fail-gtin").style.display = "block";
        } else {
            document.getElementById("after-scan-pass-gtin").style.display = "block";
        }

        document.getElementById("during-scan-lot-no").style.display = "none";
        if (response.mismatches.lotNoMismatch) {
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
        } else {
            document.getElementById("after-scan-pass-lot-no").style.display = "block";
        }

        document.getElementById("during-scan-cat-no").style.display = "none";
        if (response.mismatches.catalogNumMismatch) {
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
        } else {
            document.getElementById("after-scan-pass-cat-no").style.display = "block";
        }

        document.getElementById("during-scan-label-spec").style.display = "none";
        if (response.mismatches.labelSpecMismatch) {
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
        } else {
            document.getElementById("after-scan-pass-label-spec").style.display = "block";
        }

        document.getElementById("during-scan-use-date").style.display = "none";
        if (response.mismatches.calculatedUseByMismatch) {
            document.getElementById("after-scan-fail-use-date").style.display = "block";
        } else {
            document.getElementById("after-scan-pass-use-date").style.display = "block";
        }

        document.getElementById("left-part-during-scan").style.display = "none";
        document.getElementById("left-part-after-scan-fail").style.display = "block";
       

    }

    function scanfail(response){
        document.getElementById("during-scan-wo-mfg-date").style.display = "none";
        document.getElementById("after-scan-pass-wo-mfg-date").style.display = "block";
        document.getElementById("during-shelflife").style.display = "none";
        document.getElementById("after-scan-pass-shelflife").style.display = "block";
        document.getElementById("container").style.backgroundColor = "#FFCACA";
        document.getElementById("before-side-scan").style.display="none";
        document.getElementById("after-fail-side-scan").style.display="block";
        document.getElementById("after-fail-workorder").style.display="block";
        document.getElementById("rescanBtn").style.display = "block";
        if(responseData.gtinMismatch==true)
        {
         gtinmismatchblink();
        }
        else{
            mismatchblink();
        }
    }

    function gtinmismatchblink()
    {
        if (responseData.gtinMismatch == true) {
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "block";
        }
        if (responseData.lotnoMismatch == true) {
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
        }
        else {
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-pass-lot-no").style.display = "block";

        }

        if (responseData.labelMismatch == true) {
            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
        }
        else {

            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-pass-label-spec").style.display = "block";
        }
        if (responseData.firstUseby_Mismatch == true) {
            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-fail-use-date").style.display = "block";
        }
        else {
            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-pass-use-date").style.display = "block";
        }
        if (responseData.catalogMismatch == true) {
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
        }
        else {
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display = "block";
        }
        showPopup();

    }

    function mismatchblink()
    {
        if (responseData.mismatches.gtinMismatch == true) {
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "block";
        }

        else {
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "none";
            document.getElementById("after-scan-pass-gtin").style.display = "block";

        }

        if (responseData.mismatches.lotNoMismatch == true) {
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
        }
        else {
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "none";
            document.getElementById("after-scan-pass-lot-no").style.display = "block";

        }

        if (responseData.mismatches.labelSpecMismatch == true) {
             document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
        }
        else {
            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "none";
            document.getElementById("after-scan-pass-label-sepc").style.display = "block";

        }
        if (responseData.mismatches.calculatedUseByMismatch == true) {
           document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-fail-use-date").style.display="block";

        }
        else {
            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-fail-use-date").style.display="none";
            document.getElementById("after-scan-pass-use-date").style.display = "block";
        }
        if (responseData.mismatches.catalogNumMismatch == true) {
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
        }
        else {
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display = "block";

        }
        showPopup();
    }

    function GtinMismatch(response) {
        if (response.gtinMismatch) {
            // Increment both values by 1
            document.getElementById("total-val").innerHTML = parseInt(document.getElementById("total-val").innerHTML) + 1;
            document.getElementById("total-failed-val").innerHTML = parseInt(document.getElementById("total-failed-val").innerHTML) + 1;
        }
        document.getElementById("popupContainer").style.display = "none";
        document.getElementById("scanning-icon-div").style.backgroundColor = "#FFB5B5";

        document.getElementById("before-scan-text").style.display = "none";
        document.getElementById("after-scan-fail-text").style.display = "flex";

        document.getElementById("before-scan-image").style.display = "none";
        document.getElementById("after-scan-fail-image").style.display = "block";
        document.getElementById("during-scan-gtin").style.display = "none";
        document.getElementById("after-scan-fail-gtin").style.display = "block";

        if(response.lotnoMismatch){
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
        }
        else{
            document.getElementById("during-scan-lot-no").style.display = "block";
        }
        if(response.catalogMismatch){
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
        }
        else{
        document.getElementById("during-scan-cat-no").style.display = "block";
        }
        if (response.labelMismatch) {
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
            document.getElementById("during-scan-label-spec").style.display = "none";
        } else {
            document.getElementById("during-scan-label-spec").style.display = "block";
        }
        if(response.firstUseby_Mismatch){
         document.getElementById("during-scan-use-date").style.display = "none";
         document.getElementById("after-scan-fail-use-date").style.display = "block";
        }
        else{
        document.getElementById("during-scan-use-date").style.display = "block";
        }
        document.getElementById("left-part-during-scan").style.display = "none";
        document.getElementById("left-part-after-scan-fail").style.display = "block";
       $("#btn-end > div").addClass("disabled").off('click');
        
    }

    


    function ScanFailToSupervisor() {
       
        document.getElementById("popupContainer").style.display = "none";
        
    }

    function resetPassScenario() {
        
        document.getElementById("popupContainer").style.display = "none";
        document.getElementById("after-scan-pass-lot-no").style.display = "none";
        document.getElementById("before-scan-lot-no").style.display = "block";

        document.getElementById("after-scan-pass-gtin").style.display = "none";
        document.getElementById("before-scan-gtin").style.display = "block";

        document.getElementById("after-scan-pass-cat-no").style.display = "none";
        document.getElementById("before-scan-cat-no").style.display = "block";

        document.getElementById("after-scan-pass-label-spec").style.display = "none";
        document.getElementById("before-scan-label-spec").style.display = "block";

        document.getElementById("after-scan-pass-use-date").style.display = "none";
        document.getElementById("before-scan-use-date").style.display = "block";

        document.getElementById("left-part-after-scan-pass").style.display = "none";
        document.getElementById("left-part-before-scan").style.display = "block";

        document.getElementById("next-scan-button").style.backgroundColor = "#C5C5C5";
    }

    function showPopup() {
        document.getElementById("popupContainer").style.display = "block";
         superVisorInput = true;
    }

    function showPopup1() {
        document.getElementById("scanning-icon-div").style.backgroundColor = "#FFB5B5";
        document.getElementById("after-scan-fail-image").style.display = "block";
        document.getElementById("after-scan-fail-text1").style.display = "flex";
        document.getElementById("popupContainer").style.display = "none";   
         superVisorInput = true;
    }

    function closePopup() {
       document.getElementById("popupContainer").style.display = "none";
        superVisorInput = false;
    }


    $(document).on("click", "#submitBtn", function () {
        // Disable the input fields and button
        $("#productLabelInput, #productLabelSpec, #submitBtn").prop("disabled", true);
        var productLabel = document.getElementById("productLabelInput").value;
        var productLabelSpec = document.getElementById("productLabelSpec").value;
        var apiUrl = "/SaveProductLabel"; 
        beforeToDuringScan();

        $.ajax({
            url: apiUrl,
            method: "POST",
            data: { productLabel: productLabel, productLabelSpec: productLabelSpec, udpMessage: udpMessageValue },
            success: function (response) {
                console.log(response);
                if(response.gtinMismatch) {
                    responseData= response;
                    scanfail(response);
                    //GtinMismatch(response);
                }else {
                    responseData = response;
                    processResponse(response);
                }
            },
            error: function (xhr, status, error) {
                if (xhr.responseJSON && xhr.responseJSON.errorMessage) {
                    var errorMessage = xhr.responseJSON.errorMessage;
                    $("#productLabelInputError").text(errorMessage);
                    setTimeout(function () {
                        $("#productLabelInputError").text("");
                        location.reload();
                    }, 5000);
                } else {
                    console.log("An error occurred while making the AJAX call:", error);
                }
            },
            complete: function () {
                // Re-enable the input fields and button after the AJAX request is complete
                $("#productLabelInput, #productLabelSpec, #submitBtn").prop("disabled", true);
            }
        });
    });

    $(document).on("click", "#rescanBtn", function () {
        var productLabel = document.getElementById("productLabelInput").value;
        var productLabelSpec = document.getElementById("productLabelSpec").value;
        let rescanbutton = true;
        var apiUrl = "/SaveProductLabel";
        beforeToDuringScan();
        $.ajax({
            url: apiUrl,
            method: "POST",
            data: { productLabel: productLabel, productLabelSpec: productLabelSpec, udpMessage: udpMessageValue, rescanMessage: rescanbutton },
            success: function (response) {
                console.log(response);
                location.reload();
                responseData = response;
                processResponse(response);
            },
            error: function (xhr, status, error) {
                console.log("An error occurred while making the AJAX call:", error);
            }


        });
    });
     

    function processResponse(response) {
        console.log("response hit");
        console.log(response.allMatch);
        if (response.allMatch == true) {
            //setTimeout(duringToScanPass, 3000);
            duringToScanPass();
            setScannedData(response);
        } else {
            //setTimeout(duringToScanFail, 3000);
            scanfail(response);
            //duringToScanFail(response);
        }
        setWorkOrderInfo(response);
        
    }

    function setScannedData(response) {
        console.log("set data called");
        document.getElementById("fail-gtin-error").innerHTML = responseData.rhsData.productLabelGTIN;
        document.getElementById("fail-lotno-error").innerHTML = responseData.lhsData.workOrderLotNo;
        document.getElementById("fail-label-spec-error").innerHTML = responseData.rhsData.productLabelSpec;
        document.getElementById("fail-calc-use-by-error").innerHTML = responseData.lhsData.calculatedUseBy;
        document.getElementById("fail-db-catalog-num-error").innerHTML = responseData.rhsData.workOrderCatalogNo;

        document.getElementById("fail-product-gtin-error").innerHTML = responseData.lhsData.dbGTIN;
        document.getElementById("fail-product-lot-no-error").innerHTML = responseData.rhsData.productLotNo;
        document.getElementById("fail-product-label-spec-error").innerHTML = responseData.lhsData.dbLabelSpec;
        document.getElementById("fail-product-use-by-error").innerHTML = responseData.rhsData.productUseBy; 
        document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.lhsData.dbCatalogNo;

    }

    function setScannedFailData(response, mismatches) {
        if(response.gtinMismatch){
            document.getElementById("total-val").innerHTML = parseInt(document.getElementById("total-val").innerHTML) + 1;
            document.getElementById("total-failed-val").innerHTML = parseInt(document.getElementById("total-failed-val").innerHTML) + 1;
            setScannedFailData1();
        }
      else{
        console.log("set data for fail called");
        document.getElementById("fail-gtin-error").innerHTML = responseData.rhsData.productLabelGTIN;
        document.getElementById("fail-lotno-error").innerHTML = responseData.lhsData.workOrderLotNo;
        document.getElementById("fail-label-spec-error").innerHTML = responseData.rhsData.productLabelSpec;
        document.getElementById("fail-calc-use-by-error").innerHTML = responseData.lhsData.calculatedUseBy;
        document.getElementById("fail-db-catalog-num-error").innerHTML = responseData.rhsData.workOrderCatalogNo;
        if (mismatches.gtinMismatch) {
            document.getElementById("pa-gtin").style.color = "red";
            document.getElementById("fail-product-gtin-error").innerHTML = responseData.lhsData.dbGTIN;
            document.getElementById("fail-product-gtin-error").style.color = "red";
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "block";
           
        } else {
            document.getElementById("pa-gtin").style.color = "black";
            document.getElementById("fail-product-gtin-error").innerHTML = responseData.lhsData.dbGTIN;
            document.getElementById("fail-product-gtin-error").style.color = "black";
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "none";
            document.getElementById("after-scan-pass-gtin").style.display = "block";
        }
        if (mismatches.lotNoMismatch) {
            document.getElementById("p-lotnum-error").style.color = "red";
            document.getElementById("fail-product-lot-no-error").innerHTML = responseData.rhsData.productLotNo;
            document.getElementById("fail-product-lot-no-error").style.color = "red";
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
            
        } else {
            document.getElementById("p-lotnum-error").style.color = "black";
            document.getElementById("fail-product-lot-no-error").innerHTML = responseData.rhsData.productLotNo;
            document.getElementById("fail-product-lot-no-error").style.color = "black";
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "none";
            document.getElementById("after-scan-pass-lot-no").style.display="block";
        }

        if (mismatches.labelSpecMismatch) {
            document.getElementById("p-labelspec-error").style.color = "red";
            document.getElementById("fail-product-label-spec-error").innerHTML = responseData.lhsData.dbLabelSpec;
            document.getElementById("fail-product-label-spec-error").style.color = "red";
            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
        } else {
            document.getElementById("p-labelspec-error").style.color = "black";
            document.getElementById("fail-product-label-spec-error").innerHTML = responseData.lhsData.dbLabelSpec;
            document.getElementById("fail-product-label-spec-error").style.color = "black";
           document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "none";
           document.getElementById("after-scan-pass-label-spec").style.display = "block";
        }
        if (mismatches.calculatedUseByMismatch) {
             document.getElementById("p-useby-error").style.color = "red";
             document.getElementById("fail-product-use-by-error").innerHTML = responseData.rhsData.productUseBy;
             document.getElementById("fail-product-use-by-error").style.color = "red";
             document.getElementById("during-scan-use-date").style.display = "none";
             document.getElementById("after-scan-fail-use-date").style.display = "block";
        } else {
           document.getElementById("p-useby-error").style.color = "black";
           document.getElementById("fail-product-use-by-error").innerHTML = responseData.rhsData.productUseBy;
           document.getElementById("fail-product-use-by-error").style.color = "black";
           document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-fail-use-date").style.display = "none";
            document.getElementById("after-scan-pass-use-date").style.display= "block";
        }
        if (mismatches.catalogNumMismatch) {
            document.getElementById("w-catlognum-error").style.color = "red";
            document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.lhsData.dbCatalogNo;
            document.getElementById("fail-wo-catalog-no-error").style.color = "red";
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
            
        } else {
            document.getElementById("w-catlognum-error").style.color = "black";
            document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.lhsData.dbCatalogNo;
            document.getElementById("fail-wo-catalog-no-error").style.color = "black";
             document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display ="block";
           

        }
      }
      

    }
    function setScannedFailData1() {
        console.log("set data for fail called");
        if (responseData.gtinMismatch == true) {
            document.getElementById("pa-gtin").style.color = "red";
            document.getElementById("fail-product-gtin-error").innerHTML = responseData.db_Gtin;
            document.getElementById("fail-product-gtin-error").style.color = "red";
            document.getElementById("fail-gtin-error").innerHTML = responseData.product_Gtin;
            document.getElementById("fail-gtin-error").style.color= "black";
            document.getElementById("during-scan-gtin").style.display = "none";
            document.getElementById("after-scan-fail-gtin").style.display = "block";
        }
        if (responseData.lotnoMismatch == true){
            document.getElementById("fail-lotno-error").innerHTML = responseData.wO_Lot_No;
            document.getElementById("fail-lotno-error").style.color = "black";
            document.getElementById("p-lotnum-error").style.color = "red";
            document.getElementById("fail-product-lot-no-error").innerHTML = responseData.product_Lot_No;
            document.getElementById("fail-product-lot-no-error").style.color = "red";
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-fail-lot-no").style.display = "block";
        }
        else{
            document.getElementById("fail-lotno-error").innerHTML = responseData.wo_Lot_No;
            document.getElementById("fail-lotno-error").style.color = "black";
            document.getElementById("fail-product-lot-no-error").innerHTML = responseData.product_Lot_No;
            document.getElementById("fail-product-lot-no-error").style.color = "black";
            document.getElementById("during-scan-lot-no").style.display = "none";
            document.getElementById("after-scan-pass-lot-no").style.display="block";
        }
        if (responseData.labelMismatch == true) {
            document.getElementById("fail-label-spec-error").style.color = "black";
            document.getElementById("fail-label-spec-error").innerHTML = responseData.product_Spec;
            document.getElementById("p-labelspec-error").style.color = "red";
            document.getElementById("fail-product-label-spec-error").innerHTML = responseData.db_Spec;
            document.getElementById("fail-product-label-spec-error").style.color = "red";
            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-fail-label-spec").style.display = "block";
        }
        else {
            document.getElementById("fail-label-spec-error").style.color = "black";
            document.getElementById("fail-label-spec-error").innerHTML = responseData.product_Spec;
            document.getElementById("p-labelspec-error").style.color = "black";
            document.getElementById("fail-product-label-spec-error").innerHTML = responseData.db_Spec;
            document.getElementById("fail-product-label-spec-error").style.color = "black";
            document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display = "block";
            document.getElementById("during-scan-label-spec").style.display = "none";
            document.getElementById("after-scan-pass-label-spec").style.display = "block";
        }
        if(responseData.firstUseby_Mismatch == true)
        {
            document.getElementById("fail-calc-use-by-error").style.color = "black";
            document.getElementById("fail-calc-use-by-error").innerHTML = responseData.calculate_Use_By;
            document.getElementById("p-useby-error").style.color = "red";
            document.getElementById("fail-product-use-by-error").innerHTML = responseData.pro_Use_By;
            document.getElementById("fail-product-use-by-error").style.color = "red";
            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-fail-use-date").style.display = "block";
            
           
        }
        else{
            document.getElementById("fail-calc-use-by-error").style.color = "black";
            document.getElementById("fail-calc-use-by-error").innerHTML = responseData.calculate_Use_By;
            document.getElementById("p-useby-error").style.color = "black";
            document.getElementById("fail-product-use-by-error").innerHTML = responseData.pro_Use_By;
            document.getElementById("fail-product-use-by-error").style.color = "black";
            document.getElementById("during-scan-use-date").style.display = "none";
            document.getElementById("after-scan-pass-use-date").style.display = "block";
               
        }
        if(responseData.catalogMismatch == true) 
        {
            document.getElementById("fail-db-catalog-num-error").style.color = "black";
            document.getElementById("fail-db-catalog-num-error").innerHTML = responseData.wo_Catalog_Num;
            document.getElementById("w-catlognum-error").style.color = "red";
            document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.db_Catalog_No;
            document.getElementById("fail-wo-catalog-no-error").style.color = "red";
           document.getElementById("during-scan-cat-no").style.display = "none";
            document.getElementById("after-scan-fail-cat-no").style.display = "block";
           
        }
        else
        {
           document.getElementById("fail-db-catalog-num-error").style.color = "black";
            document.getElementById("fail-db-catalog-num-error").innerHTML = responseData.wo_Catalog_Num;
            document.getElementById("w-catlognum-error").style.color = "black";
            document.getElementById("fail-wo-catalog-no-error").innerHTML = responseData.db_Catalog_No;
            document.getElementById("fail-wo-catalog-no-error").style.color = "black";
            document.getElementById("after-scan-fail-cat-no").style.display = "none";
            document.getElementById("after-scan-pass-cat-no").style.display ="block";       
            
        }
        


    }




    function setWorkOrderInfo(response) {
        document.getElementById("total-val").innerHTML = response.workOrderInfo.totalCount != null ? response.workOrderInfo.totalCount : 0;
        document.getElementById("total-passed-val").innerHTML = response.workOrderInfo.passedCount != null ? response.workOrderInfo.passedCount : 0;
              document.getElementById("total-failed-val").innerHTML = response.workOrderInfo.failedCount != null ? response.workOrderInfo.failedCount: 0;
              document.getElementById("total-rescanned-val").innerHTML = response.workOrderInfo.scannedCount != null ? response.workOrderInfo.scannedCount: 0;
        console.log(response.workOrderInfo.scannedCount);
    }

    

    function configureContinueButton(inputFieldId) {
        showLoader();
        var supervisorId = $('#' + inputFieldId).val(); // Retrieve value using the provided input field ID

        $.ajax({
            type: 'POST',
            url: '/Home/CheckSupervisorId',
            data: { supervisorEmpId: supervisorId },
            success: function (data) {
                if (data === true) {
                    hideLoader();
                    closePopup();
                    ScanFailToSupervisor();
                    setScannedFailData(responseData, responseData.mismatches);
                    $('#' + inputFieldId).val('');
                } else {
                    hideLoader();
                    // Supervisor ID is invalid, show an error message
                    var errorMessage = 'Supervisor ID is invalid. Please enter a valid ID.';
                    $('#popupContent').find('.error-message').text(errorMessage);
                    $('#' + inputFieldId).val('');
                }
            },
            error: function (xhr, status, error) {
                console.log("An error occurred while making the AJAX call:", error);
            }
        });
    }

    var udpMessageValue = false;
    $('#nxt-scn-btn').on('click', function (e) {
        e.preventDefault();
        //localStorage.setItem("isBack", true);
        $("#productLabelInput, #productLabelSpec, #submitBtn").prop("disabled", false);
        document.getElementById("next-scan-button").style.backgroundColor = "#C5C5C5";
        document.getElementById("next-scan-button1").style.backgroundColor = "#C5C5C5";
        document.getElementById("supervisor-intervention").style.display = "none";
        document.getElementById("error").style.display = "none";
        document.getElementsByClassName('center')[0].style.display = "flex";
        document.getElementsByClassName('lbl')[0].style.display="flex";
        udpMessageValue = true;
        $('#productLabelInput').val('');
        $('#productLabelSpec').val('');
        var workOrderValue = localStorage.getItem("workOrderValue");
        document.getElementById("before-scan-lot-no").style.display = "block";
        document.getElementById("after-scan-pass-lot-no").style.display = "none";

        document.getElementById("before-scan-gtin").style.display = "block";
        document.getElementById("after-scan-pass-gtin").style.display = "none";

        document.getElementById("before-scan-cat-no").style.display = "block";
        document.getElementById("after-scan-pass-cat-no").style.display = "none";

        document.getElementById("before-scan-label-spec").style.display = "block";
        document.getElementById("after-scan-pass-label-spec").style.display = "none";

        document.getElementById("before-scan-use-date").style.display = "block";
        document.getElementById("after-scan-pass-use-date").style.display = "none";

        document.getElementById("left-part-before-scan").style.display = "block";
        document.getElementById("left-part-after-scan-pass").style.display = "none";
        document.getElementById("popupContainer").style.display = "none";


        // Make an AJAX request to your controller method
        $.ajax({
            url: '/Home/SaveWorkOrder', // Replace with the correct URL
            method: 'POST', // Use POST or GET as appropriate
            data: { input: workOrderValue, udpMessage: udpMessageValue },
            success: function (response) {
                // Handle the response from the controller here
                console.log(response);

            },
            error: function (error) {
                // Handle any errors here
                console.error(error);
            }
        });
    });


    function showLoader() {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    // Function to hide the loader and overlay
    function hideLoader() {
        document.getElementById('loader').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }
    var socket = null;
    if (true) {
        websocketUrl = "ws://localhost:7157" + "/ws";

        socket = new WebSocket(websocketUrl);

        socket.onerror = function (event) {
            console.log(event);

        };

        socket.onmessage = function (event) {
            const jsonData = event.data;
            const data = JSON.parse(jsonData);
            console.log(data);
            if (data.pageData != null) {
                //console.log(data.pageData.Barcode);
                if (data.pageData.Barcode.length < 25 && superVisorInput == false) {
                    document.getElementById("productLabelSpec").value = data.pageData.Barcode;
                } else if (data.pageData.Barcode.length > 25 && superVisorInput == false) {
                    document.getElementById("productLabelInput").value = data.pageData.Barcode;
                }
                if (document.getElementById("productLabelInput").value !=='' && document.getElementById("productLabelSpec").value !==''){
                    document.getElementById("submitBtn").click();
                }
                if(superVisorInput == true){
                    document.getElementById("supervisorInput").value = data.pageData.Barcode;
                    configureContinueButton('supervisorInput');
                }
            }

            
            document.getElementById("greenButton").addEventListener("click", function () {
                document.getElementById("greenButton").value = data.pageError.errorMsg;
                configureContinueButton('supervisorInput');
            });

            document.getElementById("redButton").addEventListener("click", function () {
                document.getElementById("redButton").value = data.pageError.errorMsg;
                redbutton('supervisorInput1');

            });

        };

        socket.onopen = function (event) {
            // WebSocket connection opened
            console.log('WebSocket connection opened');
        };

        socket.onclose = function (event) {
            // WebSocket connection closed
            console.log('WebSocket connection closed');
            socket = new WebSocket(websocketUrl);
        };
    }

    function displayToast() {
            if (toastVisible) {
                var toast = document.getElementById("toast");
                toast.style.visibility = "visible";
                toastVisible = false; // Set to false to hide the message

                setTimeout(function () {
                    toast.style.visibility = "hidden";
                    isPaused = false;
                }, pauseDuration * 1000); // Display the toast message for 1 minute
            }
        }

    //code for session counter
    function startTimer(duration) {
         if (!isPaused){
        var timerDisplay = document.getElementById("timer");

        var timer = duration;
        var hours, minutes, seconds;

         intervalId = setInterval(function () {
            hours = parseInt(timer / 3600, 10);
            minutes = parseInt((timer % 3600) / 60, 10);
            seconds = parseInt(timer % 60, 10);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            timerDisplay.textContent = hours + ":" + minutes + ":" + seconds;
            if (timer == 1800) {
                    if (!timerHasStarted) {
                        displayToast();
                        timerHasStarted = true;
                        isPaused = true;
                    }
                }
            if (--timer < 0) {
                clearInterval(intervalId);
                // Perform any action you need when the timer reaches 00:00:00
                window.location.href = "/Login/Logout";
                //alert("Timer has expired!");
            }
        }, 1000);
        }
    }

    // Local Storage is already set in homescreen so just obtain it here
     var expirationTime = localStorage.getItem("expiration_time");


    // Get the expiration time from localStorage
    var currentTime = Math.floor(Date.now() / 1000);
    var remainingTime = expirationTime - currentTime;
    startTimer(remainingTime);
</script>