@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Entity.ItemMaster>
<partial name="_Loader" />

<table class="table table-bordered table-striped" id="itemsTable">
    <thead class="text-white bg-custom">
        <tr>
            <th>
                GTIN
            </th>
            <th>
                Catalog Num
            </th>
            <th>
                Shelf Life
            </th>
            <th>
                Label Spec
            </th>
            <th>
                IFU
            </th>
            <th>
                Edit Date Time
            </th>
            <th>
                Edit By
            </th>
            <th>
                Created On
            </th>
            <th>
                Created by
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>@item.GTIN</div>
                </td>

                @* Content Editable is given false to disable edit functionality can be enabled if needed*@
                <td>
                    <div data-gtin=@item.GTIN data-column="Catalog_Num" contenteditable="true" class="editableContent">@item.Catalog_Num</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Shelf_Life" contenteditable="true" class="editableContent">@item.Shelf_Life </div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Label_Spec" contenteditable="true" class="editableContent">@item.Label_Spec</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="IFU" contenteditable="true" class="editableContent">@item.IFU</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Edit_Date_Time" contenteditable="false" class="editableContent">@item.Edit_Date_Time</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Edit_By" contenteditable="false" class="editableContent">@item.Edit_By</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Created" contenteditable="false" class="editableContent">@item.Created</div>
                </td>
                <td>

                    <div data-gtin=@item.GTIN data-column="Created_by" contenteditable="false" class="editableContent">@item.Created_by</div>
                </td>
                <td>
                    <i class="bi bi-trash" data-user-id=@item.GTIN contenteditable="false"></i>
                </td>
            </tr>
        }



    </tbody>
    <tfoot>
        <tr data-row-id="1">
            <td colspan="1">
                <div class="editableDiv" data-new-gtin contenteditable="true" placeholder="GTIN" id="gtin"></div>
                <span class="text-danger" id="gtinerror"></span>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="true" placeholder="Catalog Num" id="catalognum"></div>
                <span class="text-danger" id="catalognumerror"></span>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="true" placeholder="Shelf Life" id="shelflife" onkeypress="return /[0-9]/i.test(event.key)"></div>
                <span class="text-danger" id="shelflifeerror"></span>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="true" placeholder="Label spec" id="labelspec"></div>
                <span class="text-danger" id="labelspecerror"></span>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="true">
                    <input type="text" class="editable-input" id="ifu" placeholder="IFU" autocomplete="off"/>
                    <span class="text-danger" id="ifuerror"></span>
                </div>
            </td>

            <td colspan="1">
                <div class="editableDiv" contenteditable="false" placeholder="Edit Date Time" id="editdate"></div>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="false" placeholder="Edit By" id="editby"></div>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="false" placeholder="Created On" id="created"></div>
            </td>
            <td colspan="1">
                <div class="editableDiv" contenteditable="false" placeholder="Created By" id="createdby"></div>

            </td>
        </tr>
        <tr>
            <td colspan="9" style="text-align: center; border-right: none; border-left: none;">
      <div class="button-div add-button">
                    <a class="add-button"><span class="add-item-text">Add Item</span></a>
                </div>*
            </td>
        </tr>
    </tfoot>
</table>

      <style>
          .footer-data{
             border: 0.1px solid;
          }

          .input-class{
              border-color: transparent;
          }

          .custom-input {
              color: #999; /* Set initial placeholder text color */
            }

        .editableDiv[contenteditable="true"]:empty:before {
          content: attr(placeholder)
        }     

         .add-button{
            display: block;
            width: 117px;
            height: 32px;
            background: #003C71;
            text-align: center;
            border-radius: 12px;
            color: white;
            font-weight: bold;
            margin: auto;
            text-decoration: none;
            user-select: none;
       
         }

        .button-div{
            cursor:pointer;
        }

        .add-item-text{
            font-size:20px;
            font-weight:500;
        }

        /* targetting the datatables css for aligning the pagination, info, length changing parms in the bottom */
         div.bottom{
             display: flex;
             justify-content: space-between;
         }

         table.dataTable {
             padding-top:10px;
         }
</style>

<script type="text/javascript">

$(() => {

        console.log("Initializing DataTables...");
        new DataTable('#itemsTable', {
            dom: '<"top"f>rt<"bottom"lpi><"clear">'
        });
        console.log("DataTables initialized.");
                   
        document.getElementsByClassName('add-button')[0]
            .addEventListener('click', function (event) {
                event.preventDefault();
                console.log("Add button clicked");

                $(".text-danger").text("");

                var GTIN = $("#gtin").text().trim();
                var CatalogNo = $("#catalognum").text().trim();
                var ShelfLife = $("#shelflife").text().trim();
                var LabelLife = $("#labelspec").text().trim();
                var Ifu = $("#ifu").val().trim();
                

                var hasErrors = false;

                if (GTIN === '') {
                    $("#gtinerror").text("GTIN is required.");
                    hasErrors = true;
                }

                if (CatalogNo === '') {
                    $("#catalognumerror").text("Catalog Number is required.");
                    hasErrors = true;
                }

                if (ShelfLife === '') {
                    $("#shelflifeerror").text("Shelf Life is required.");
                    hasErrors = true;
                }

                if (LabelLife === '') {
                    $("#labelspecerror").text("Label Spec is required.");
                    hasErrors = true;
                }

                if (Ifu === '') {
                    $("#ifuerror").text("IFU is required.");
                    hasErrors = true;
                }

               
                if (hasErrors) {
                    return false;
                }

                SubmitForm();
                return true;
            });

        function SubmitForm() {
            debugger;
            showLoader();
            var row = $('[data-row-id="1"]');

            var gtin = row.find('[data-new-gtin]');
            var catalogNo = row.find('td:nth-child(2) div');
            var shelfLife = row.find('td:nth-child(3) div');
            var lableSpec = row.find('td:nth-child(4) div');
            var ifu = $("#ifu").val();
            var editDateTime = row.find('td:nth-child(6) div');
            var editBy = row.find('td:nth-child(7) div');
            var created = row.find('td:nth-child(8) div');
            var createdBy = row.find('td:nth-child(9) div');

            var editDateTimeValue = editDateTime.text().trim() === '01-01-0001 00:00:00' || editDateTime.text().trim() === '' ? null : editDateTime.text();
            var item = {
                GTIN: gtin.text(),
                Catalog_Num: catalogNo.text(),
                Shelf_Life: shelfLife.text(),
                Label_Spec: lableSpec.text(),
                IFU: ifu,
                Edit_Date_Time: editDateTimeValue,
                Edit_By: editBy.text(),
                Created: created.text(),
                Created_by: createdBy.text()
            };

            console.log(item);
            var apiUrl = "/SaveNewItem";
            $.ajax({
                url: apiUrl,
                method: "POST",
                data: item,
                success: function (response) {
                    if (response.success) 
                    {
                        hideLoader();
                        console.log("Item saved successfully");
                        alert("Item saved successfully");
                        location.reload();
                     }
                     else{
                        console.log("GTIN already Exists");
                        alert(response.message);
                        location.reload();
                     }
                },
                error: function(xhr, status, error) {
                    console.log("An error occurred while saving the data:", error);
                }
            });

            // Reset the div elements after successful submission
            gtin.text('');
            catalogNo.text('');
            shelfLife.text('');
            lableSpec.text('');
            $("#ifu").val('');
            editDateTime.text('');
            editBy.text('');
            created.text('');
            createdBy.text('');
        }


    $(document).on("keypress", ".editableContent", function(event) {
        if (event.which === 13) { // Enter key code
            console.log("enter hit");
            event.preventDefault(); // Prevent default Enter key behavior
            $(this).blur();
            //var gtinValue = $(this).data("gtin");
            //var columnName = $(this).data("column");
            //console.log(gtinValue);
            //console.log(columnName);
            //var originalValue = $(this).data("original-value");
            //var newValue = $(this).text(); // Get the new value from the editable div
            //// Perform any additional logic or actions with the new value
            //var itemToUpdate = {
            //    original_value: originalValue,
            //    updated_value: newValue,
            //    column_name: columnName,
            //    gtin_value: gtinValue
            //}
            //updateItem(itemToUpdate);
            //console.log("New value: " + newValue);
        }
    });

    $(document).on("focusout", ".editableContent", function() {
        var originalValue = $(this).data("original-value");
        var currentValue = $(this).text();  // Get the new value from the editable div
        console.log("focus out hit");
        var gtinValue = $(this).data("gtin");
        var columnName = $(this).data("column");
          
         
            // Perform any additional logic or actions with the new value
            var itemToUpdate = {
                original_value: originalValue,
                updated_value: currentValue,
                column_name: columnName,
                gtin_value: gtinValue
            }
               var apiUrl = "/UpdateItem";

        $.ajax({
            url: apiUrl,
            method: "POST",
            data: itemToUpdate,
            success: function(response) {
                console.log("Item updated successfully");
                    alert("Item updated successfully");
            },
            error: function(xhr, status, error) {
                console.log("An error occurred while updating the data:", error);
                  if (originalValue !== currentValue) {
            // Perform any actions you want with the previous and current values
            console.log("Previous value: " + originalValue);
            console.log("Current value: " + currentValue);
            // You can update the data or make an API call to save the changes here
            // Restore the original value
            $(this).text(originalValue);
        }
            }
        });
          
      
    });

    $(document).on("focusin", ".editableContent", function() { 
        var currentValue = $(this).text();
        $(this).data("original-value", currentValue);
    });

    function updateItem(itemToUpdate) {
        // Replace the URL below with your API endpoint
        var apiUrl = "/UpdateItem";

        $.ajax({
            url: apiUrl,
            method: "POST",
            data: itemToUpdate,
            success: function(response) {
                console.log("Item updated successfully");
                    alert("Item updated successfully");
                location.reload();
            },
            error: function(xhr, status, error) {
                console.log("An error occurred while updating the data:", error);
            }
        });

    }

   

        $(".bi-trash").click(function () {
            var gtin = $(this).data("user-id");

            if (confirm("Are you sure you want to delete this user?")) {
                var $row = $(this).closest('tr'); // Store a reference to the row

                // User confirmed, so send an AJAX request to delete the user
                $.ajax({
                    type: 'POST',
                    url: '/DeleteItem', // Update the URL to match your controller action
                    data: { GTIN: gtin },
                    success: function (data) {
                        if (data.success) {
                            // User was deleted successfully, remove the row
                            $row.remove();
                            alert(data.message);
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function () {
                        alert("An error occurred while deleting the user.");
                    }
                });
            }
        });







        function showLoader() {
            document.getElementById('loader').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

 
        function hideLoader() {
            document.getElementById('loader').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }   
});
</script>