@model List<Entity.ApplicationUser>
@using Entity

@{
    ViewData["Title"] = "Users";
}




<style>

    #myTable {
        width: 100%;
        margin: 0 auto;
        clear: both;
        border-collapse: separate;
        border-spacing: 0;
    }

    div.dataTables_info {
        position: absolute
    }

    div.dataTables_wrapper div.dataTables_paginate {
        float: none;
        text-align: right;
    }

    .table-active {
        border: none;
        background-color: darkblue;
        color: aliceblue;
    }

    .right {
        width: 550px;
        float: right;
        margin-left: auto;
    }

    .left {
        display: flex;
        float: left;
        margin: 0 75px;
        width: auto;
    }

    .full {
        display: flex;
    }

    .right label {
        display: inline-block;
        width: 120px;
        text-align: right;
        margin-right: 10px;
    }

    .right input,
    .right select {
        width: 200px;
        box-sizing: border-box;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }


    .btn1 {
        display: flex;
        padding-right: 85px;
        margin: auto;
    }

    .btn2 {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        margin: 20px 15px;
    }

    .flex1 {
        margin: 20px 0;
    }

    .flex {
        display: contents;
    }

    .bi-filetype-csv::before {
        content: "\f743";
        margin: 0 6px;
    }

    #download {
        margin-left: 197px;
    }

    #download1 {
        margin: auto;
        text-align: center;
    }

    #rightside {
        bottom: 0;
        position: relative;
        margin-bottom: 40px;
        margin-top: 9px;
    }

    #shorthand {
        min-height: 200px;
    }

</style>




<h3 class="top1">Existing Users</h3>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8" id="tbl">
            <table class="table table-custom table-responsive table-hover" id="myTable">
                <thead>
                    <tr class="table-active">
                        <th>EmpId</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var us in Model)
                    {
                        <tr>
                            <td width="2px">@us.EmpID</td>
                            <td width="2px">@us.UserFullName</td>
                            <td width="2px">@us.UserRole</td>
                            <td width="2px">
                                <i class="bi bi-pencil-square" onclick="editUser(this)"></i>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>



        <div class="col-sm-4" id="shorthand">
            <div class="card">
                <div class="card-header">
                    <h4>Add/Edit Form</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="empid">EmpID:</label>
                            <input type="text" class="form-control" id="empid">
                        </div>
                        <div class="form-group">
                            <label for="userfullname">UserFullName:</label>
                            <input type="text" class="form-control" id="userfullname">
                        </div>
                        <div class="form-group">
                            <label for="userrole">UserRole:</label>
                            <div class="col-lg-4">
                                <select id="UserRole" name="UserRole" class="form-control">
                                    @foreach (UserRole role in Enum.GetValues(typeof(UserRole)))
                                    {
                                        <option value="@((int)role)">@role</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="btn-save text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" id="rightside">
            <div class="card">
                <div class="card-header">
                    <h4>Import&Download CSV file</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <a href="@Url.Action("DownloadCSV","Admin") download id="download1"><label for="download">Download the CSV file here</label></a>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-5">
                                <input type="file" id="csvFile" accept=".csv" />
                            </div>
                        </div>
                        <div class="form-group btn-save1">
                            <button type="button" class="btn btn-light border border-dark" onclick="importCsv(this)">Upload</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
@*
</form>*@



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>



<script type="text/javascript">

    var js = jQuery.noConflict(true)
    js(document).ready(function () {
        js('#myTable').DataTable({


        });


    });

    let isEditing = false;

    function editUser(button) {
        var row = button.parentNode.parentNode;
        var empID = row.cells[0].innerText;
        var userFullName = row.cells[1].innerText;
        var userRole = row.cells[2].innerText;


        document.getElementById("EmpID").value = empID;
        document.getElementById("UserFullName").value = userFullName;


        var select = document.getElementById("UserRole");
        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].text === userRole) {
                select.selectedIndex = i;
                break;
            }
        }

        isEditing = true;
    }




    function saveUser() {

        var empId = document.getElementById("EmpID").value;
        var fullName = document.getElementById("UserFullName").value;
        var userRole = document.getElementById("UserRole").value;


        var user = {
            EmpID: empId,
            UserFullName: fullName,
            UserRole: userRole
        }

        if (isEditing) {
            user.EmpID = parseInt(user.EmpID);
        }

        submitform(user);
    }


    function importCsv() {
        var fileInput = document.getElementById('csvFile');
        var file = fileInput.files[0];

        var formData = new FormData();
        formData.append('file', file);
        showLoader();


        var $btn = $('.btn-light');
        $btn.button('loading');


        $.ajax({
            url: '/Admin/importCsv',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                hideLoader();
                $btn.button('reset');
                alert("CSV file uploaded successfully!");
                location.reload();
            },
            error: function (error) {
                hideLoader();
                $btn.button('reset');
                console.log(error);
                alert("Error uploading CSV file!");
            }
        });
    }


    function submitform(user) {

        $.ajax({
            url: '/Admin/SaveUser',
            type: 'POST',
            data: user,
            success: function (response) {
                if (response.message && response.message === "Updated successfully!") {
                    alert("User updated successfully!");
                } else {
                    alert("User saved successfully!");
                }
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert("Error saving user!");
            }
        });

        isEditing = false;

    }
</script>
